header {
    background-color: blue;
    opacity: 0.5;
    margin: -10px -10px 10px -10px;
    padding: 20px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

header:hover {
    background-color: #5858cb;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

h3 {
    background-color: rgb(198, 198, 255);

    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: red;
}

#form, #formMath {
    font-family: "Josefin Sans", sans-serif;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
}

#favAnimal {
    margin-left: 183px;
    margin-bottom: 10px;
}

#verb {
    margin-left: 25px;
    margin-bottom: 10px;
}

#planet {
    margin-left: 273px;
    margin-bottom: 20px;
}

#submit {
    margin-bottom: 35px;
}

#story {
    font-weight: bolder;
    color: red;
}

#labelName {
    font-family: "Josefin Sans", sans-serif;
    margin: auto;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

#name { 
    margin: 15px;
}

#circlebox {
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

#circlebox img {
    max-width: 200px;
    align: auto;
}

#circlebox img:hover {
    transform: translate(200px,0);
    cursor: pointer;
}

#circlebox img.clicked {
    padding-top: 500px;
    cursor: pointer;
}

#demo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight:bolder;
    color: red;
}

#tryAgainButton {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 75px;
    width: 100px;
}

button, #submit { 
    font-family: "Josefin Sans", sans-serif;
    width: 100px;
    font-weight: bolder;
}